@charset "UTF-8";

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2{
    color: rgb(101, 196, 57);
}

a{
    text-decoration: none;
}

/* img {
    width: 250px;
} */

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}